.meetballMenu {
    width: 15%;
    text-align: center;
    border-radius: 15px;

    padding: 2px;
}

.meetballMenu img {
    max-width: 50%;
    object-fit: contain;

}

.meetballMenu:hover {
    background-color: rgba(218, 216, 216, 0.5);
    cursor: pointer;
}

.meetballMenu:active {
    background-color: rgba(218, 216, 216, 0.8);

}

.edit-section {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    left: 5px;
    top: 2px
}

.edit-section button {
    width: 50px;
    background-color: white;
    border: 0;
    padding: 5px;
    border-bottom: #1A2A6C 1px solid;
    color: #414141
}

.edit-section button:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.edit-section button:active {
    background-color: #292929;
    color: aliceblue;

}